htm {
    height: 100%;    /* First I'll set the HTML elements height to 100% as this
    will allow our h100 classes in vertical centering to work. */
}

 /* container 1 - top section of website - brown stripe  on base page */
.container-fluid-1 {
    background-color: #982920; 
    height: 70px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    padding-bottom: 10px;
}

 /* container 2 -  navigation items & Container 4 description details on base page -  */
.container-fluid-2, .container-fluid-4 {
    background-color: #fbebd4;
}

   /* Container 3 - picture container inserted on  base page  */
 .container-fluid-3 { 
    /* background: url('/media/background_image_long.jpg') no-repeat center center fixed; */
    /* background-size: cover; */
    /* height: calc(100vh - 164px); */
    /* height: 500px; */
     max-width: 100%;
    /* max-height: 100%;
    padding-bottom: 10%; */ 
    background-color: #fbebd4;
    height: 100%;

}
   /* Container 5 - footer details inserted on base page  */
.container-fluid-5 {
    background-color: #e79e39;
}

   /* Container 1 navigation sectioin - logo element - SPICE  */
.logo-font-1 {
    padding-top: 70px;
    color:  #982920;
    font-family: Merriweather;
}
   /* Container 1 navigation section - logo element - UP YOUR LIFE  */
.logo-font-2 {
    color: #8c6654;
    font-family: Merriweather;
}

 /* Container 1 navigation section - Home, Spices, My Account, Sign In and Sign up font color  */
.nav-link, .dropdown-item-1, .dropdown-item-2 {
    color: #8c6654;
    font-family: Merriweather;
}

 /* Container 4 text section - center text and heading  */
 .justify-center {
   text-align: center;
   font-family: lato regular;
   font-weight: 400;
}


 /* Container 5 Footer Items style 1 - group title, style 2 follow us, style3 twitter, style 4 instagram, style 5 youtube  */
.style-1, .style-2, .style-3, .style-4, .style-5 {
   color:  #8c6654;
   font-weight: 300;
   font-family: Merriweather;
}








/* html {
    height: 100%;
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* Re the body above - Next we need to add the background image to the body element.
Which we can do with the size of cover and options of no-repeat center centre and fixed.
which will ensure that it stays put in the centre of the page.
I also want to add a height calculation to the body element.
Which will be 100vh minus 164 pixels the eventual height of our top header.
Finally I'll add a default font colour and font family for the body of the site.
If we run the server and check it out now it's anow dispalys the picture of the girl 


/* this css pasted in */

/* from Bulma */
/* .icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* re above- I've taken this icon class from another CSS framework similar to bootstrap called Bulma
Which will ensure that whenever we use font awesome icons.
They will always stay perfectly centred and have a consistent size
unless we manually change it. */

.logo-font {
    text-transform: uppercase;
}

/* re above - The logo font class will be used throughout this site
to maintain consistency with the uppercase font of the logo
whenever we want to call attention to something. */

.main-logo-link {
    width: fit-content;
} */

<<<<<<< HEAD
/*re above - And the main logo link class here
just makes it so that the logo only takes up as much space as the text requires and no more. */


/* below - These next several lines are styling which we'll use consistently throughout
the site for buttons so that they match the theme of the shop now button on the homepage. */


.shop-now-button {
=======
/* .shop-now-button {
>>>>>>> 8339bf228d54680411eed40ab83df67f36145970
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
} */

/* .text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}


/* re above - And finally I've added a text-black class and a border-black class
similar to bootstraps colour helper classes like text success text info and so on.
Bootstrap doesn't actually have a black class as of this recording.
So I'm creating my own and I've marked them as important.
Because we will always want elements using these classes to obey them
These classes will allow us to have both primary and secondary call-to-action styling
on all site buttons. Giving our users a consistent user experience. */



.bg-black {
<<<<<<< HEAD
    background: #000 !important;
}
=======
    background-color: #000 !important;
} */
>>>>>>> 8339bf228d54680411eed40ab83df67f36145970

/* Finally we need to add one more class to our base.css to make the background of
this delivery banner black.
And I'm gonna throw that right under the text-black and border-black classes here in base.css */



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
<<<<<<< HEAD

/* media queries.
The first one will widen the default
bootstrap container class on extra-large screens just to make better use of the
available screen real estate for people with extra-large monitors. */

@media (min-width: 1200px) {
=======
/* @media (min-width: 1200px) {
>>>>>>> 8339bf228d54680411eed40ab83df67f36145970
  .container {
    max-width: 80%; */
  /* }
} */

/* fixed top navbar only on medium and up */
/* @media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}
<<<<<<< HEAD


/* The second one will add 164 pixels of padding to our header container class
to push the body down to the bottom of the main page header.
This is the page header block that we added at the top of the index.html page in the home app.
The other class in this media query will be for the main site navbar, we add in the coming videos.
For both of these classes, I'm using a minimum screen width of 992 pixels.
Since the main header will look different on mobile views.
So we only want these to affect medium and larger screens. */

=======
 */ 
>>>>>>> 8339bf228d54680411eed40ab83df67f36145970
